<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EpsonPOSReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EpsonPOSReport.Properties.Settings>
            <setting name="_plColumn_itemNumber" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="_plColumn_unitCost" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="_plColumn_selectFFP" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="_plColumn_selectRebate" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="_plColumn_plusFFP" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="_plColumn_plusRebate" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="_plColumn_premierFFP" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="_plColumn_premierRebate" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="_plColumn_mSelectFFP" serializeAs="String">
                <value>29</value>
            </setting>
            <setting name="_plColumn_mSelectRebate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="_DatabaseConnectionString" serializeAs="String">
                <value>Data Source=METRO-GP1;Integrated Security=SSPI;Initial Catalog=METRO</value>
            </setting>
            <setting name="_filePath_spaList" serializeAs="String">
                <value />
            </setting>
            <setting name="_filePath_partnerList" serializeAs="String">
                <value />
            </setting>
            <setting name="_filePath_priceList" serializeAs="String">
                <value />
            </setting>
            <setting name="_showColumn_btAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_showColumn_btCity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_showColumn_btState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_showColumn_btZip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_showColumn_stCustomer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_showColumn_stAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_showColumn_stCity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_showColumn_stState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_showColumn_stZip" serializeAs="String">
                <value>False</value>
            </setting>
        </EpsonPOSReport.Properties.Settings>
    </userSettings>
</configuration>